<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/add">Add a TODO task</a><br />
<table>
    <tr>
        <th>Todo Task</th>
        <th>Due Date</th>
        <th>Priority</th>
        <td>Actions</td>
    </tr>

    <tr th:each="todo : ${todos}">
        <td th:text="${todo.taskName}"></td>
        <td th:text="${todo.taskDueDate}"></td>
        <td th:text="${todo.taskPriority}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${todo.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${todo.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
        </td></tr>

</table>


</body>
</html>

